<div class="amenities">
    <div class="header">Amenities</div>
    <div class="amenities-list">
        <div class="amenities-grid">
            <mat-checkbox
                (click)="sendData(i, amenity)"
                *ngFor="
                    let amenity of fetchAmenities.amenities$
                        | async
                        | slice : 0 : 9;
                    let i = index
                "
                class="example-margin"
                >{{ amenity.name }}</mat-checkbox
            >
        </div>
    </div>
</div>
