:host {
    width: 40%;
}
.calculator {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    .one-night-price {
        font-weight: bold;
        font-weight: 500;
        font-size: 2.4rem;
        .thin-text {
            font-size: 1.8rem;
            font-weight: 400;
        }
    }
    .chek-in-out {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .date {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    div {
        .reserve-button {
            background: linear-gradient(90deg, #ff5a5f, #cb4e8a);
            border: none;
            border-radius: 0.5rem;
            padding: 1rem;
            color: #fff;
            font-weight: 500;
            width: 100%;
        }
        .hint {
            display: flex;
            justify-content: center;
            padding: 0.5rem;
        }
    }
    .price {
        &-details {
            text-decoration: underline;
        }
    }
}
.space-between {
    display: flex;
    justify-content: space-between;
}
