<div class="calculator">
    <div class="one-night-price">
        {{
            hotel.rooms[0].pricePerNight | currency : "USD" : "symbol" : "1.0-0"
        }}
        <span class="thin-text">night</span>
    </div>
    <div class="chek-in-out">
        <div class="date">
            <span>CHEK-IN</span>
            {{
                priceCalculatorService.startDate$ | async | date : "dd/MM/yyyy"
            }}
        </div>
        <span>–</span>
        <div class="date">
            <span>CHEKOUT</span>
            {{ priceCalculatorService.endDate$ | async | date : "dd/MM/yyyy" }}
        </div>
    </div>
    <div>
        <button class="reserve-button">Reserve</button>
        <div class="hint thin-text">You won't be charged yet</div>
    </div>
    <div class="price space-between">
        <span class="price-details">
            {{
                hotel.rooms[0].pricePerNight
                    | currency : "USD" : "symbol" : "1.0-0"
            }}
            x {{ priceCalculatorService.nights$ | async }} nights
        </span>
        <span class="price-total">{{
            priceCalculatorService.total$
                | async
                | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
    </div>
    <hr />
    <div class="before-taxes space-between">
        <span>Total before taxes</span>
        <span>{{
            priceCalculatorService.total$
                | async
                | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
    </div>
</div>
