<div class="calculator">
    <div class="one-night-price">
        {{ price | currency : "USD" : "symbol" : "1.0-0" }}
        <span class="thin-text">night</span>
    </div>
    <button class="reserve-button">Reserve</button>
    <div class="hint thin-text">You won't be charged yet</div>
    <div class="price space-between">
        <span class="price-details">
            {{ price | currency : "USD" : "symbol" : "1.0-0" }} x
            {{ nights }} nights
        </span>
        <span class="price-total">{{
            total | currency : "USD" : "symbol" : "1.0-0"
        }}</span>
    </div>
    <hr />
    <div class="before-taxes space-between">
        <span>Total before taxes</span>
        <span>{{ total | currency : "USD" : "symbol" : "1.0-0" }}</span>
    </div>
</div>
