<!-- <div class="carousel">
    <ng-container *ngFor="let slide of slides; let i = index">
        <img
            width="600px"
            height="500px"
            *ngIf="i === currentSlide"
            [src]="slide.src || slide.url"
            [alt]="slide.alt"
            class="slide"
            @carouselAnimation
        />
    </ng-container>

    <button (click)="onPrevClick()" class="control prev">
        <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <button (click)="onNextClick()" class="control next">
        <mat-icon>arrow_forward_ios</mat-icon>
    </button>
</div> -->
