:host {
    margin-top: auto;
}
div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    border-top: 1px solid lightgray;
}
div {
    font-size: 1.4rem;
}
img {
    width: 1.8rem;
    height: 1.8rem;
    cursor: pointer;
}

span {
    line-height: 1.4rem;
}
.footer-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.language {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}
.currency {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
}
