mat-toolbar {
    display: flex;
    justify-content: space-between;
}
.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 1px solid #dddddd;
    border-radius: 1rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.6rem;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}
