<div class="calendar">
    <mat-calendar
        [selected]="selectedRangeValue"
        (selectedChange)="selectedChange($event)"
    >
    </mat-calendar>
    <!-- <div style="display: flex; justify-content: space-between">
        <div class="start-date">
            Start Date:
            {{ selectedRangeValue?.start | date : "shortDate" }}
        </div>
        <div class="end-date">
            End Date: {{ selectedRangeValue?.end | date : "shortDate" }}
        </div>
    </div> -->
</div>
