<div *ngIf="hotel$ | async as hotel">
    <app-banner [hotel]="hotel"></app-banner>
    <div class="container">
        <app-calendar (sendNights)="getNights($event)"></app-calendar>
        <app-calculator
            [hotel]="hotel"
            [nights]="nights | async"
        ></app-calculator>
    </div>
    <!-- <div class="maps">
        <header>
            <h1 class="title">Where you’ll be</h1>
            <h1 class="name">Hoter-iveria</h1>
        </header>

        <div id="map"></div>
    </div> -->
    <app-host-profile></app-host-profile>
</div>
