<div class="container">
    <div class="carousel-container">
        <app-carousel [slides]="slides"></app-carousel>
    </div>
    <div class="info">
        <div class="header">Entire villa in Kiotari,Rhodes, Greece</div>
        <div class="info-details">
            <mat-list-item>3 guests</mat-list-item>
            <mat-list-item>1 bedroom</mat-list-item>
            <mat-list-item>2 beds</mat-list-item>
            <mat-list-item>1 bath</mat-list-item>
        </div>
        <div class="hotel-stars">
            <mat-icon>star</mat-icon><span> 5.0 (262)</span>
        </div>
        <div class="description">
            Terra D’oro villas are located in the unspoiled part of south Rhodes
            and offer stunning views towards the Aegean sea and surrounding
            hills. We offer a peaceful area for a comfortable stay. The space
            Luxury has been balanced with simplicity and modern design. Olive
            and lemon
        </div>
    </div>
    <div style="display: flex; justify-content: center; width: 100%">
        <div class="calendar">
            <mat-calendar
                [selected]="selectedRangeValue"
                (selectedChange)="selectedChange($event)"
            >
            </mat-calendar>
            <div style="display: flex; justify-content: space-between">
                <div class="start-date">
                    Start Date:
                    {{ selectedRangeValue?.start | date : "shortDate" }}
                </div>
                <div class="end-date">
                    End Date: {{ selectedRangeValue?.end | date : "shortDate" }}
                </div>
            </div>
        </div>
        <app-calculator [nights]="nights"></app-calculator>
    </div>
    <div class="maps">
        <header>
            <h1 class="title">Where you’ll be</h1>
            <h1 class="name">Hoter-iveria</h1>
        </header>

        <div id="map"></div>
    </div>
    <section class="host-profile">
        <figure class="host-profile-header">
            <img
                src="https://a0.muscache.com/im/pictures/user/User-266098501/original/2166a8b6-6e00-4436-92bd-356e998f0b19.jpeg?im_w=240"
                alt="Profile image of host Nick"
            />
            <div class="host-profile-header-info">
                <div class="header">Hosted By Nick</div>
                <figcaption class="host-join-date">
                    Joined in October 2016
                </figcaption>
            </div>
        </figure>
        <div class="host-profile-badges">
            <span class="reviews">
                <mat-icon>star</mat-icon>
                <span>19 Reviews</span>
            </span>
            <span class="verified">
                <mat-icon>verified_user</mat-icon><span>Identity verified</span>
            </span>
        </div>
        <div class="host-profile-details">
            <p>Languages: English, Deutsch, Türkçe</p>
            <p>Response rate: 100%</p>
            <p>Response time: within an hour</p>
        </div>
        <button class="btn-contact-host">Contact Host</button>
    </section>
</div>
