.container {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .carousel-container {
        width: 60rem;
        height: 50rem;
        padding: 2rem;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    .info {
        &-details {
            display: flex;
        }
        &-details mat-list-item {
            display: flex;
        }
        &-details mat-list-item:not(:last-child):after {
            content: "\2022";
            padding: 0 1rem;
        }
        .hotel-stars {
            display: flex;
            align-items: center;
            mat-icon {
                font-size: 2rem;
                height: 2rem;
            }
        }
    }
    mat-calendar {
        width: 40rem;
    }
}
// map styles
#map {
    width: 30rem;
    height: 40rem;
}
