<div class="container">
    <img
        width="300"
        height="200"
        src="https://a0.muscache.com/im/pictures/miso/Hosting-49091550/original/095cf28a-4320-4790-aac6-ea9f6024d63e.jpeg?im_w=1200"
        alt="hotel-image"
    />
    <div class="info">
        <div class="header">Entire villa in Kiotari,Rhodes, Greece</div>
        <div class="info-details">
            <mat-list-item>3 guests</mat-list-item>
            <mat-list-item>1 bedroom</mat-list-item>
            <mat-list-item>2 beds</mat-list-item>
            <mat-list-item>1 bath</mat-list-item>
        </div>
        <div class="hotel-stars">
            <mat-icon>star</mat-icon><span> 5.0 (262)</span>
        </div>
        <div class="description">
            Terra D’oro villas are located in the unspoiled part of south Rhodes
            and offer stunning views towards the Aegean sea and surrounding
            hills. We offer a peaceful area for a comfortable stay. The space
            Luxury has been balanced with simplicity and modern design. Olive
            and lemon
        </div>
    </div>
</div>
