.sign-in-form {
    margin: 10rem auto;
    padding: 3rem 4rem;
    min-width: 15rem;
    max-width: 50rem;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 6%);
}

.full-width {
    width: 100%;
}
.form-header {
    text-align: center;
    .pink {
        color: #ff5a5f;
        font-weight: 600;
    }
}
button.submit {
    margin-bottom: 3rem;
}
.form-footer {
    display: block;
    text-align: center;
    /* margin-bottom: 1rem; */
}
.form-footer a {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
