.container {
    user-select: none;
    transition: all 0.3s;
    position: relative;
    .btn {
        display: flex;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0.4rem;
        border-radius: 50%;
        border: none;
        background-color: #ffffffc8;
        transition: background-color 0.3s;

        mat-icon {
            color: #222222;
        }

        &:hover {
            background-color: #fff;
            cursor: pointer;
            box-shadow: 0rem 1rem 1rem #0c0c0c20;
        }
    }

    .left {
        left: 10px;
        z-index: 1;
    }

    .right {
        right: 10px;
        z-index: 1;
    }

    .slider-container {
        position: relative;
        width: 30rem;
        height: 28rem;
        overflow: hidden;
        border-radius: 1.5rem;
    }

    // .slider-images-container {
    //     display: flex;
    //     position: relative;
    //     width: 100%;
    //     height: 100%;
    // }

    img {
        width: 30rem;
        height: 28rem;
        object-fit: cover;
    }

    .dotsContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        user-select: none;

        .dot {
            font-size: 3rem;
            color: #ffffff81;
        }

        .active-dot {
            color: #fff;
        }
    }
}
.hide {
    display: none;
}
