<div class="container">
    <!-- buttons -->
    <button
        *ngIf="currentSlide !== 0"
        class="btn left"
        (click)="previousSlide()"
    >
        <mat-icon>chevron_left</mat-icon>
    </button>
    <button
        *ngIf="currentSlide !== slides.length - 1"
        class="btn right"
        (click)="nextSlide()"
    >
        <mat-icon>chevron_right</mat-icon>
    </button>

    <!-- slider -->
    <div class="slider-container">
        <div
            *ngFor="let slide of slides; let i = index"
            [@slideInOut]="currentSlide"
        >
            <img *ngIf="currentSlide === i" [src]="slide.url" alt="" />
        </div>
    </div>
    <!-- slider dots -->
    <div class="dotsContainer">
        <div
            class="dot"
            *ngFor="let slide of slides; let i = index"
            (click)="goToSlide(i)"
            [ngClass]="{ 'active-dot': i === currentSlide }"
        >
            •
        </div>
    </div>
</div>
