.filter-container {
    padding: 2rem;
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border: 1px solid #dddddd;
        background-color: #fff;
        border-radius: 1rem;
        padding: 1.4rem 2.8rem;
        font-size: 1.2rem;

        cursor: pointer;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}
