<section class="trending-stays">
    <ul>
        <div
            class="hotel-list"
            *ngIf="fetchHotelsSrv.hotels$ | async as hotelArr"
        >
            <div *ngIf="hotelArr.length === 0; else hotels">
                <h1>{{ ErrorMessage }}</h1>
            </div>
            <ng-template #hotels>
                <li *ngFor="let hotel of hotelArr">
                    <app-hotel [hotelInfo]="hotel"></app-hotel>
                </li>
            </ng-template>
        </div>
    </ul>
</section>
