.trending-stays {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.hotel-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}
