.trending-stays {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.hotel-list {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 3rem;
    li {
        margin-bottom: 1rem;
    }
}
