.main-container {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    .main-title {
        font-weight: 500;
        font-size: 3.2rem;
        margin-bottom: 3rem;
    }
    .trip-info-card-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .trip-info {
            width: 40%;
            padding: 1rem 0;
            &-title {
                font-size: 2.4rem;
                font-weight: 500;
            }
            .recovery {
                padding: 2rem 0;
            }
            .number-input {
                width: 100%;
                span {
                    text-decoration: underline;
                    font-weight: 500;
                }
                margin-bottom: 2rem;
            }
            .reserve-button {
                background: linear-gradient(90deg, #ff5a5f, #cb4e8a);
                border: none;
                border-radius: 0.5rem;
                padding: 1rem;
                color: #fff;
                font-weight: 500;
                width: 100%;
                cursor: pointer;
            }
            .dates {
                padding: 2rem 0;
                &-title {
                    font-size: 1.6rem;
                    font-weight: 500;
                }
                .actual-dates-edit-container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .actual-dates {
                        display: flex;

                        gap: 1rem;
                    }
                    .edit {
                        font-weight: 500;
                        font-size: 1.8rem;
                        text-decoration: underline;
                    }
                }
            }
        }
        .card-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 2rem;
            padding: 2rem;
            width: 40%;
            border: 1px solid lightgray;
            border-radius: 1rem;
            .header {
                display: flex;
                justify-content: space-between;
                gap: 1rem;

                img {
                    border-radius: 2rem;
                    width: 50%;
                    height: 15rem;
                    object-fit: cover;
                }
                .header-description {
                    display: flex;
                    flex-direction: column;
                    align-items: space-between;
                    gap: 1rem;
                    .hotel-name {
                        font-weight: 500;
                    }
                    .hotel-description {
                        font-weight: 500;
                    }
                    .hotel-rating {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }
            .title {
                font-weight: 500;
                font-size: 2.4rem;
            }
            .price {
                &-details {
                    text-decoration: underline;
                }
            }

            .space-between {
                display: flex;
                justify-content: space-between;
            }
            .before-taxes {
                font-weight: bold;
            }
        }
    }
}
