.container {
    padding: 2rem;
    width: 70rem;
    .selects {
        display: flex;
        justify-content: space-between;
        app-choose-city {
            width: 45%;
        }
        app-min-rating {
            width: 45%;
        }
    }
}
