.container {
    padding: 2rem;
}
.type-of-places {
    display: flex;
    flex-direction: column;
}
.places {
    display: flex;
    justify-content: space-between;
    .link {
        width: 13rem;
        & span {
            color: #a0a0a0;
        }
        &:after {
            content: "";
            width: 0;
            height: 0.3rem;
            background-color: #ff3c78;
            position: absolute;
            left: 0;
            bottom: 0;
            transition: 0.2s;
        }
        &:hover span {
            color: #000000;
        }
        &:hover:after {
            width: 100%;
        }
    }
}
.rooms-and-beds {
    display: flex;
    gap: 1rem;
    .beds {
        display: flex;
        gap: 1rem;
    }
    .bathrooms {
        display: flex;
        gap: 1rem;
    }
}
.property-type {
    &-list {
        display: flex;
    }
}
.amenities {
    &-list {
        display: flex;
    }
}
.flex-column {
    display: flex;
    flex-direction: column;
}
