<section class="hotel-card">
    <div class="hotel-card-image-container">
        <!-- <img
            width="300px"
            height="288px"
            [src]="hotelInfo.images[0].url"
            alt="hotel image"
        /> -->
        <igx-carousel>
            <igx-slide *ngFor="let image of hotelInfo.images">
                <div class="image-container">
                    <img
                        [src]="image.url"
                        width="300px"
                        height="288px"
                        alt="hotel image"
                    />
                </div>
            </igx-slide>
        </igx-carousel>
        <!-- <span class="favorite" *ngIf="hotelInfo.favorite">Guest favorite</span> -->
    </div>
    <ul class="hotel-card-info-container">
        <li class="hotel-name">
            {{ hotelInfo.name | textShortener : 23 }}
        </li>
        <li class="hotel-reviews">
            <mat-icon>star</mat-icon><span>{{ hotelInfo.rating }} </span>
        </li>
        <li class="hotel-description">
            {{ hotelInfo.description | textShortener : 40 }}
        </li>
        <li class="hotel-price">
            $ {{ hotelInfo.rooms[0].pricePerNight }} night
        </li>
    </ul>
</section>
