<section class="hotel-card">
    <div (click)="gotoDetails(hotelInfo.id)" class="hotel-card-image-container">
        <app-carousel [slides]="hotelInfo.images"></app-carousel>
    </div>
    <ul class="hotel-card-info-container">
        <li class="hotel-name">
            {{ hotelInfo.name | textShortener : 23 }}
        </li>
        <li class="hotel-reviews">
            <mat-icon>star</mat-icon><span>{{ hotelInfo.rating }} </span>
        </li>
        <li class="hotel-description">
            {{ hotelInfo.description | textShortener : 40 }}
        </li>
        <li class="hotel-price">
            $ {{ hotelInfo.rooms[0].pricePerNight }} night
        </li>
    </ul>
</section>
