.hotel-card {
    cursor: pointer;
    &-image-container {
        position: relative;
        img {
            border-radius: 0.8rem;
            max-width: 100%;
            height: auto;
        }
        .favorite {
            position: absolute;
            top: 1rem;
            left: 1rem;
            padding: 0.3rem 1rem;
            background-color: #fff;
            border-radius: 5rem;
            font-weight: 500;
        }
    }
    &-info-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        list-style: none;
        .hotel-name {
            font-weight: bold;
        }
        .hotel-reviews {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            font-weight: bold;
            mat-icon {
                font-size: 2rem;
                height: 2rem;
            }
        }
        .hotel-description {
            color: #717171;
            grid-column: 1/-1;
        }
        .hotel-price {
            font-weight: 500;
            grid-column: 1/-1;
        }
    }
}
